.margin{
    margin-top: 5%;
}
.link{
    display: inline-block;
}
a.link{
    margin-top: -10px;
}
.margin > p{
    margin-bottom: 25px;
}
.disable{
    display: none;
}
.emphasize{
    font-weight: 600;
}