.margin{
    margin-top: 5%;
}
.margin > h3{
    display: block;
    margin-bottom: 25px;
    background-color: white;
}
form{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding: 1%;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
}
form h4{
    text-align: initial;
    padding-left: 10px;
}
label{
    margin: 10px 0;
}
label input[type="text"], label input[type="password"], select{
    width: 90%;
    margin: 4px auto;
}
form.description {
    margin-top: 10px;
    display: block;
    width: 98%;
    max-height: 30%;
    height: 200px;
}
form.description > h3 {
    margin-bottom: 3px;
}
form.description > textarea{
    width: 95%;
    max-height: 100%;
    height: 60%;
}
input[type="text"]::placeholder, input[type="password"]::placeholder{
    color: red;
}
.emphasize{
    font-weight: 600;
}