form{
    width: 300px;
    padding: 1%;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    margin: 6% auto
}
form h4{
    text-align: initial;
    padding-left: 10px;
}
label{
    margin: 10px 0;
}
label input[type="text"], label input[type="password"]{
    width: 90%;
    margin: 4px auto;
}
.block{
    display: block;
    margin: 15px auto;
}
input[type="text"]::placeholder, input[type="password"]::placeholder{
    color: red;
}
.emphasize{
    font-weight: 600;
}